* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #689d6a, #1c6920, #114720);
    color: #fff;
    padding: 12px ;
    transition: all .50s ease;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 1.0rem;
    font-weight: 500;
    padding: 0px 5;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover,
.navbar a.active{
    color:  #114720;
}
.main{
    display: flex;
  
}
.main a{
    color: #000000;
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .50s ease;
}
.main .srch {
    padding: 3px;
    border: 1px solid #fff; 
    border-radius:5px 0 0 5px;
    background: transparent;
    width: 220px;
    
}

.main .btn {
    margin-right: 100px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.main .btn:hover {
    background-color:  #000000;
    color: #fff;
}

.main .login-button, .main .signup-button {
    padding: 5px 8px;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 70%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main .login-button:hover, .main .signup-button:hover {
    background-color:  #000000;
    color: #fff;
}

.menu-icon{
    font-size: 35px;
    color: #000000;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.column {  
    height: 105vh;
    display: flex;
    flex-wrap: wrap; 
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background: linear-gradient(to right, #085d14, #008000);
    color: #fff;
}

.right {
    background: #fff;
    color: #000;
}

.centered-content {
    text-align: center;
}

.centered-content img {
    width: 150px;
    height: auto;
}
.right .logos {
    padding: 30px;
    display: inline-flex;
    align-items: flex-end; 
}

.right .logos img {
    width: 120px;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.center-text {
    font-size: 18px;
    margin-top: 20px;
}
.get-started-button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #1C7D34, #2DA84F, #3DCD6A);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .center-text {
    font-size: 24px;
    margin-top: 20px;
}

  .get-started-button:hover {
    background-image: linear-gradient(to right, #3DCD6A, #2DA84F, #1C7D34);
  }

  
.signup{
    padding-top: 50px;
    padding-left: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: arial;
    font-size: 15px;
    color: white;
    font-weight: 300px;

}
#box1{
    text-align: left;
    position:absolute;
    margin-top: 50px;
    padding: 150px;
    margin-left: 200px;
    height: 600px;
    background-color: #447247;
    border-radius: 20px;
}
 h1{
    font-size: 50px;
 }

 .login{
    padding-top: 50px;
    padding-left: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: arial;
    font-size: 15px;
    color: white;
    font-weight: 300px;
 }

 @media screen and(max-width: 1280px){
    header{
        padding: 6%;
        transition: .2s;
    }
    .navbar a{
        padding: 0px 5;
        margin: 0px 30px;
    }
}
    @media screen and (max-width: 1090px){
        .menu-icon{
            display: block;
        }
        .navbar{
            position: absolute;
            top: 100%;
            right: -100%;
            width: 270px;
            height: 29vh;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            transition: none .50s ease;
        }
        .navbar a{
            display: block;
            margin: 12px 0;
            padding: 0px 25px;
            transition: all .50s ease;
        }
        .navbar a:hover{
            color: #689d6a;
            transform: translate(5px);
        }
        .navbar a.active{
            color: #085d14;
        }
        .navbar.open{
            right: 2%;
        }

    }
   
    .mainhome{
        display: flex;
    }

    .faq{
        text-align: center;
    }

 