* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
section{ height: 100vh;}
body{
    min-height: 100vh;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #689d6a,  #1c6920,#114720);
    color: #fff;
    padding: 8px ;
    transition: all .50s ease;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 1.0rem;
    font-weight: 500;
    padding: 0px 5;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover,
.navbar a.active{
    color:  #114720;
}
.main{
    display: flex;
  
}
.main a{
    color: #000000;
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .50s ease;
}
.main .srch {
    padding: 3px;
    border: 1px solid #fff; 
    border-radius:5px 0 0 5px;
    background: transparent;
    width: 220px;
    
}

.main .btn {
    margin-right: 100px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.main .btn:hover {
    background-color:  #000000;
    color: #fff;
}

.main .login-button, .main .signup-button {
    padding: 5px 8px;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 70%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main .login-button:hover, .main .signup-button:hover {
    background-color:  #000000;
    color: #fff;
}

.column {  
    height: 105vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background: linear-gradient(to right, #085d14, #008000);
    color: #fff;
}

.right {
    background: #fff;
    color: #000;
}

.centered-content {
    text-align: center;
    padding-top: 60px;
}

.centered-content img {
    width: 150px;
    height: auto;
}
.right .logos {
    padding: 30px;
    display: inline-flex;
    align-items: flex-end; 
}

.right .logos img {
    width: 120px;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.center-text {
    font-size: 18px;
    margin-top: 20px;
}
.get-started-button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #1C7D34, #2DA84F, #3DCD6A);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .center-text {
    font-size: 24px;
    margin-top: 20px;
}

  .get-started-button:hover {
    background-image: linear-gradient(to right, #3DCD6A, #2DA84F, #1C7D34);
  }
  .signup {
    padding-top: 20px;
    padding-left: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial; /* Corrected font-family property */
    font-size: 15px;
    color: white;
    font-weight: 250; /* Corrected font-weight property */
}

#box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Adjust as needed */
    width: 400px; /* Keep the width */
    background-color: #447247;
    border-radius: 20px;
}

h1 {
    padding-top: 40px;
    font-size: 40px;
    margin: 0; /* Remove default margin */
}
<<<<<<< HEAD

=======
>>>>>>> 94dea5d5504d3db135c3b417fc639c894087ed85

 .login{
    padding-top: 50px;
    padding-left: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: arial;
    font-size: 15px;
    color: white;
    font-weight: 300px;
    input[type="submit"] {
        color: white;
        border-radius: 5px; /* Rounded corners */
        background-color: rgb(202, 202, 202); /* Gray color */
        border-color: #000;
        color: rgb(10, 54, 26); /* Text color */
        border: none; /* Remove default border */
        padding: 10px 20px; /* Add padding for better appearance */
    }
 }
 .faqq{
    margin-top: 80px; /*FAQ*/
    align-items: center;
    text-align: center;

 }
 h1{
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    text-align: center;
    
}
 .sec1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
 }
 .box{
    display: flex;
    padding: 6px;
    padding-left: 20px;
    width: 100%;
    height: 30px;
    background-color: #43a383;
}
.h4{
    text-align: left;
    
}
p{
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;   
}
.text{
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
}
.foot1{
    display: flex;
    margin-top: 550px;
}
.box2{
    padding: 6px;
    padding-left: 20px;
    width: 100%;
    height: 50vh;
    background-color: #114720;
}


 @media screen and (min-width: 901)and(max-width: 1200px){
    header{
        padding: 4%;
        transition: .2s;
    }
    .navbar a{
        padding: 0px 5;
        margin: 0px 30px;
    }
}
@media screen and (max-width: 600px) {
    .menu-toggle {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 50%;
        background-color: rgba(36, 55, 48, 0.9); 
        backdrop-filter: blur(5px); 
        transition: all 0.3s ease; 
        margin-top: 5px;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        color: #fff; 
        transition: all .50s ease;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a:hover {
        background-color: rgba(255, 255, 255, 0.2); 
        border-radius: 5px; 
    }
  
    .main .srch {
        padding: 1.5px;
        border: .5px solid #fff; 
        border-radius:2.5px 0 0 2.5px;
        background: transparent;
        width: 160px; 
    }
    
    .main .btn {
        margin-right: 50px;
        padding: 2.5px 6px;
        background-color: #fff;
        border: none;
        border-radius: 0 2.5px 2.5px 0;
        cursor: pointer;
        transition: background-color 0.3s ease-in;
        font-size: 50%;
    }
    .main .btn:hover {
        background-color:  #000000;
        color: #fff;
    }
    .main .login-button, .main .signup-button {
        padding: 4px 8px;
        background-color: #fff;
        text-decoration: none;
        border: 1px solid #000;
        border-radius: 10px;
        font-size: 50%;
        margin: 0 2.5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .main .login-button:hover, .main .signup-button:hover {
        background-color:  #000000;
        color: #fff;
    }
    .left, .right {
        width: 110%;
    }
 
}

   
    .mainhome{
        display: flex;
    }

    .faq{
        text-align: center;
    }

    .container{
        text-align: center;
        padding-top: 100px;
        display: flex;
        flex-direction: row;  
     }
 
     .boxs{
        text-align: center;
        margin-left: 40px;
        width: 180px;
        height: 200px;
        border-radius: 20px;
        background-color: #84ac90;
        padding-left: 150px;
     }
.box3{ /*ABOUT*/
    width: 1250px; 
    height: 100px; 
    background-color: #ffffff; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    display: flex;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 40px;
}

.box4{
   width: 850px; 
   height: 400px; 
   background-color: #bfe8cf; 
   box-shadow: 0px 0px 20px rgba(141, 236, 162, 0.5); 
   display: flex;
   border-radius: 10px;
   justify-content: center;
   text-align: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   margin-bottom: 40px;
   margin-top: 40px;
}

.box5{
    width: 1100px; 
    height: 800px; 
    background-color: #bfe8cf; 
    box-shadow: 0px 0px 20px rgba(141, 236, 162, 0.5); 
    display: flex;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
 }
 .foot2{

    margin-top: 800px;
 }
 .icons{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 2px 0;
   margin-left: -100px;
   margin-right: 10px;
 }

 .bell-icon { /*BELLICON*/
    cursor: pointer;
    font-size: 18px;
    margin-right: 16px;
    color: #ffffff;
  }

  .notification-box {
    position: absolute;
    top: 50px;
    right: 10;
    width: 300px;
    padding: 20px;
    border-radius: 50px;
    background-color: #ddeae3;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .notification-box:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 38px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
  }
 .user-pic{ /*profile BAR*/
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
 }
 .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
 }
 .sub-menu-wrap.open-menu{
    max-height: 400px;

 }
 .user-info img{
    width: 55px;
    border-radius: 50%;
    margin-right: 15px;
 }
 .sub-menu{
    background:#243730;
    padding: 20px;
    margin: 10px;
 }
 .user-info{
    display: flex;
    align-items: center;
 }
 .user-info h3{
    font-weight: 500;
 }
 .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
 }
 .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 3px 0;
    
 }
 .sub-menu-link p{
    width: 100%;
    margin-left: 2px;
    text-align: justify;
 }
.sub-menu-link img{
    width: 40px;
    background: rgb(226, 222, 222);
    border-radius: 50%;
    padding: 6px;
    margin-right: 12px;
}
.sub-menu-link span{
    font-size: 18px;
    transition: transform 0.5s;
}
.sub-menu-link span:hover {
    transform: translateX(5px);
}
.sub-menu-link p:hover {
    font-weight: 550;
}

.sec{ /*profile*/
    padding-left: 200px;
    padding-top: 100px;
    background-color: #d1e3d6;
}

.hh1{text-align: center;}
.boxx{
    display: flex;
    padding-top: 150px;
}

.logsec{
    background-color: #d1e3d6;
}
.pp{
    margin-top: 200px;
    text-align: center;
    font-size: 25px;
}

.yes{
    margin-left: 660px;
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: #c5bbbb;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.lgreen{
    background-color: #d3f6dc;
  }
  .Cbox{ /*CONTACT US*/
    width: 100%;
    height: 70px;
    background-color: rgb(81, 152, 81);
    margin-top: 60px;
  }
  .textc {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    color: #ffffff;
  }
  
  .contact_container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-section {
    padding-bottom: 20px;
    border-bottom: 2px solid #dd0000; 
    margin-bottom: 20px;
  }
  
  
  .green {
    color: #006400; 
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #dd0000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #aa0000; 
  }
  
  .contact-details,
  .social-media {
    margin-top: 20px;
  }
  
  .contact-details h3,
  .social-media h3 {
    margin-top: 0;
    color: #333;
  }
  
  .contact-details p,
  .social-media p {
    margin-bottom: 5px;
  }
  
.pfpbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    h2 {position: absolute;
        top: 0;
        right: 0;
        margin-top: 12%;
        transform: translateX(-90%);
        text-align: right;
    }
}


#user{
    padding-top: 30px;
    height: 220px;
    width: 200px;
}

.content{
    padding-bottom: 200px;
}

.sechist{
    background-color: #d1e3d6;
}

.setting-sec{
    text-align: center;
    height: max-content;
    background-color: #d1e3d6;
   
}

.setting-container {
    background-color: rgb(188, 189, 188);
    width: 12.5%; /* 1/8 of the screen */
    height: 100%;
    margin-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
  }

  .setting,
  .account,
  .notification,
  .privacy,
  .terms,
  .feedback {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .setting {
    margin-top: 50px;
  }
  
  .account{
    margin-top: 70px;
  }
  
  .notification{
    margin-top: 90px;
  }
  .navigation {
    background-color: #333; /* Background color of the navigation bar */
  }
  
  .navigation ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    display: block; /* Display list items vertically */
  }
  
  .navigation li a {
    display: block; /* Make anchor tags behave as blocks */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside each link */
    text-decoration: none; /* Remove underline from links */
  }
  
  .navigation li a:hover {
    background-color: #555; /* Background color on hover */
  }

  .setting-info{
    
    margin-left: 300px;
  }
.SrchH{
    
    background: linear-gradient(to right, #085d14, #008000);
    width: 100%;
    height: 30%;

  
}
.SrchH a{
    color: #189d47;
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .50s ease;
}
.SrchH .srch {
    padding: 3px;
    border: 1px solid #000000; 
    border-radius:5px 0 0 5px;
    background: transparent;
    width: 220px;
    
}

.SrchH .btn {
    margin-right: 100px;
    padding: 5px 10px;
    background-color: #55587a;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.SrchH .btn:hover {
    background-color:  #000000;
    color: #fff;
}